@import "tailwindcss";
@import "@hackernoon/pixel-icon-library/fonts/iconfont.css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Win95';
  src: url('./assets/fonts/w95fa/w95fa.woff') format('woff');
  src: url('./assets/fonts/w95fa/w95fa.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


* {
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Win95', sans-serif;
}

#root {
  overflow: hidden;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 5px;
}
