@import "tailwindcss";
@import "@hackernoon/pixel-icon-library/fonts/iconfont.css";
@custom-variant win95 (&:where(.win95, .win95 *));
/* @import "tailwindcss/preflight"; */
/* @import "tailwindcss/utilities"; */

@font-face {
  font-family: "Win95";
  src: url("./assets/fonts/w95fa/w95fa.woff") format("woff");
  src: url("./assets/fonts/w95fa/w95fa.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@theme {
  --color-win95-blue: #000080;
  --color-win95-teal: #008080;
  --color-win95-grey: #c0c0c0;
  --color-win95-darkGrey: #7f7f7f;
  --color-win95-lightGrey: #dfdfdf;
  --color-win95-white: #ffffff;
  --color-win95-black: #000000;
  --class-win95-button-1: win95-button-1;
}

.win95-button-1 {
  position: relative;
  overflow: hidden;
}

.win95-button-1::before,
.win95-active-nav-link::before {
  content: "";
  inset: 2px;
  position: absolute;
  z-index: 0;
  background-image: repeating-conic-gradient(
    var(--color-win95-lightGrey) 0deg 90deg,
    var(--color-win95-white) 90deg 180deg
  );
  background-size: 4px 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.win95-button-1:focus::before,
.win95-active-nav-link::before {
  opacity: 1;
}

.win95-button-1:focus > *,
.win95-active-nav-link > * {
  position: relative;
  z-index: 1;
  transform: translate(1px, 1px);
}

.win95-border-1 {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-win95-white) var(--color-win95-black)
    var(--color-win95-black) var(--color-win95-white);
  box-shadow: inset 1px 1px 0 var(--color-win95-lightGrey),
    inset -1px -1px 0 var(--color-win95-darkGrey);
}

.win95-border-1:focus,
.win95-active-nav-link {
  border-color: var(--color-win95-black) var(--color-win95-white)
    var(--color-win95-white) var(--color-win95-black);
  box-shadow: inset 1px 1px 0 var(--color-win95-darkGrey),
    inset -1px -1px 0 var(--color-win95-lightGrey);
}

.win95-border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-win95-black) var(--color-win95-white)
    var(--color-win95-white) var(--color-win95-black);
  box-shadow: inset 1px 1px 0 var(--color-win95-darkGrey),
    inset -1px -1px 0 var(--color-win95-lightGrey);
}


body {
  display: flex;
  justify-content: center;
  font-family: "Win95", sans-serif;
}

#root {
  overflow: hidden;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0;
}

.win95-button-1:focus > * {
  transform: translate(1px, 1px);
}

.home-menu-item {
  width: fit-content;
  min-width: fit-content;
  flex-grow: 0;
}

/* scrollbar */

body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb ,
body *::-webkit-scrollbar-button 
{
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: silver;
}
